

<html>
    <head>
        <title>"Blog do caos e destruição"</title>
    </head>
    <body>
        <h1> 
            "Blog do caos e destruição"
        </h1>


        <!--AQUI ESTOU MANUALMENTE IMPRIMINDO O QUE TENHO NA VARIAVEL POSTS-->

        {{ posts[0].title }} <br>
        {{ posts[0].body }} <br>
        {{ posts[0].author }} <br>
        {{ posts[0].created }} <br>
        {{ posts[1] }}
 


        <!-- Posso colocar comandos de phython aqui dentro.
        {% %}    
        Mas são comandos de jinja
        O jinja é parte do flask

        jinja faz parte de template
        workzoid faz parte de encriptação
        -->

        <!-- para cada post dos posts vou imprimir o post title-->
        <!-- Coloco o <p> para colocar um titulo por paragrafo-->
        <!-- Aviso pro jinja onde o for acaba-->


    </body>
</html>